interactions:
- request:
    body: '{"address": "41fd76d0c83ce08e518fc7fb4b38d963436f701fac", "visible": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shasta.trongrid.io/wallet/getaccountresource
  response:
    body:
      string: '{"freeNetUsed": 264,"freeNetLimit": 600,"TotalNetLimit": 43200000000,"TotalNetWeight":
        356265954283,"TotalEnergyLimit": 180000000000,"TotalEnergyWeight": 12774681836}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"address": "4175f12b06daae11e5be71c1025732a02bea437d97", "visible": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shasta.trongrid.io/wallet/getaccountresource
  response:
    body:
      string: '{"freeNetLimit": 600,"assetNetUsed": [{"key": "1001058","value": 0}],"assetNetLimit":
        [{"key": "1001058","value": 0}],"TotalNetLimit": 43200000000,"TotalNetWeight":
        356265954283,"TotalEnergyLimit": 180000000000,"TotalEnergyWeight": 12774681836}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"address": "411aef008c25dfec6e2d85cbe286d690bdd1e31dfa", "visible": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shasta.trongrid.io/wallet/getaccountresource
  response:
    body:
      string: '{"freeNetLimit": 600,"assetNetUsed": [{"key": "1000520","value": 0},{"key":
        "1001304","value": 0}],"assetNetLimit": [{"key": "1000520","value": 0},{"key":
        "1001304","value": 1000000}],"TotalNetLimit": 43200000000,"TotalNetWeight":
        356265954283,"EnergyLimit": 176989,"TotalEnergyLimit": 180000000000,"TotalEnergyWeight":
        12774681836}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"address": "411aef008c25dfec6e2d85cbe286d690bdd1e31dfa", "visible": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shasta.trongrid.io/wallet/getaccountresource
  response:
    body:
      string: '{"freeNetLimit": 600,"assetNetUsed": [{"key": "1000520","value": 0},{"key":
        "1001304","value": 0}],"assetNetLimit": [{"key": "1000520","value": 0},{"key":
        "1001304","value": 1000000}],"TotalNetLimit": 43200000000,"TotalNetWeight":
        356265954283,"EnergyLimit": 176989,"TotalEnergyLimit": 180000000000,"TotalEnergyWeight":
        12774681836}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
