interactions:
- request:
    body: '{"method": "eth_getTransactionByHash", "params": ["0x0000000000000000000000000000000000000000000000000000000000000000"],
      "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://ethereum-sepolia-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":null}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "eth_getTransactionByHash", "params": ["0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff"],
      "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://ethereum-sepolia-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":null}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
